################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BinaryConverterAPI/.vs/BinaryConverterAPI/FileContentIndex
/BinaryConverterAPI/obj/Debug/net9.0/BinaryConverterAPI.AssemblyInfo.cs
/BinaryConverterAPI/obj/Debug/net9.0/BinaryConverterAPI.AssemblyInfoInputs.cache
